<div class="homeWrapper" (mousemove)="stopSlideTimer()">
    <div class="pageConrols">
        <span class="pageIndexDot" *ngFor="let slide of slides;let i = index" [ngClass]="{'active': i === slideIndex }"
            (click)="goToSlide(i);"></span>
    </div>
    <div *ngFor="let slide of slides;let i = index" class="slidePage" [ngClass]="{'slideShow': i == slideIndex }">
        <div class="pageWrapper" [ngStyle]="{ 'background': getBackground(slide.slideImageUrl)}">
            <div class="pageContent">
                <h1 class="slideTitle">{{slide.slideTitle}}</h1>
                <div *ngIf="slide.poll != null" class="myContainer">
                    <h2>{{slide.poll.questionText}}</h2>
                    <div class="pollWrapper">
                        <div>
                            <mat-form-field>
                                <mat-select #select>
                                    <mat-option *ngFor="let choice of slide.poll.questionOptions" [value]='choice'>
                                        {{choice}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <input #index matInput placeholder="Index" value=""
                                    (keydown)='handleNumberInput($event)' required>
                            </mat-form-field>
                        </div>
                        <button mat-flat-button color="red"
                            (click)="sendPollRes(slide.poll.questionID, index.value, select.value)">Glasaj!</button>
                    </div>
                </div>
                <div class="myContainer slideText" *ngIf="slide.slideBodyTitle != null">
                    <h3>{{slide.slideBodyTitle}}</h3>
                    <p>{{slide.slideBodyText}}</p>
                </div>
            </div>
        </div>
    </div>
</div>