.manageWrapper{
    overflow: hidden;
    background-color: whitesmoke;
    height: 100%;
}
#menu{
    width: 100%;
    padding: 0.5em;
    background-color: #a70532;
}
#menu > *{
    display: inline-block;
}

.createSlide{
    margin: 2em;
}

.slideItemsWrapper{
    width: 90%;
  margin: 1em auto 0;
  align-items: center;
}

.slideItem{
    max-width: 200px;
    width: 100%;
    display: inline-block;
    margin: 1em;
    vertical-align: top;
}

.polls{
width: 90%;
margin: auto;
}
